

.card{
    margin: .5em;
}

#galleryThumb{
    background-color: white;
}

#drawingTimer{
    color: black;
    padding-left: 4px;
}

canvas {
    border: 2px black solid;
}

.flag-pfp {
    display: flex;
    align-items: center;
}

#userFlag {
    width: 100px;
    height: 50px;
    margin-right: 10px;
    object-fit:scale-down;
}

#userAvatar {
    border: 1px black solid;
    border-radius: .3rem;
    width: 50px;
    height: 50px;
}

#btnHome{
    border: 1px solid black;
    height: 75px;
}

#btnSend{
    border: 1px solid black;
    height: 75px;
}

#galleryThumb{
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

[id^="color_"]{
    width: 34px;
    height: 34px;
}

#colorPicker{
    margin-left: -30px;
}
.slider-wrapper {
    display: block;
    width: 2px;
    height: 1px;
}
.slider-wrapper input {
    border: 1px black solid;
    width: 300px;
    height: 34px;
    transform-origin: 140px 165px;
    transform: rotate(-90deg);
}

.slider-wrapper input {
    -webkit-appearance: none;
    width: 305px;
    height: 34px;
    background: #d3d3d3;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 34px;
    height: 34px;
    background: #292b2c;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 34px;
    height: 34px;
    background: #292b2c;
    cursor: pointer;
}

/* LOGIN PAGE CSS */
#github-button {
    width: auto;
}

#github-button > a {
    text-decoration: none;
    color: #444;
}

/* Overriding the bootstrap style because we have a dark nav bar*/
.btn-github {
    color: #444;
    background-color: #fff;
}

/* PixelTalk h1 element */
.title {
    margin: 5% 0;
}
